### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
game_purchase_data = pd.read_csv(file_to_load)

#Print to check
game_purchase_data.head()
game_purchase_data=game_purchase_data.set_index("Purchase ID")
game_purchase_data.head()

FileNotFoundError: [Errno 2] File b'Resources/purchase_data.csv' does not exist: b'Resources/purchase_data.csv'

## Player Count

* Display the total number of players

In [1]:
#Identify unique players by screen name to avoid re-counting players that have made multiple purchases.
# Count length of that list; make variable to insert in data frame. 

all_players= game_purchase_data['SN'].unique()
player_count = len(all_players)
#print(player_count)

player_number_df = pd.DataFrame({"Total Players":[player_count]})
player_number_df=player_number_df.set_index("Total Players")
player_number_df

NameError: name 'game_purchase_data' is not defined

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [150]:
#Rinse and repeat with purchased items
#First, identify all of the unique items that were purchased
all_items_available_list = game_purchase_data['Item Name'].unique()

#Then, use that to count the number of unique items that exist
items_available_count = len(all_items_available_list)


#Sum of 'Price' for total revenue
total_money_spent = game_purchase_data['Price'].sum()


#Find length of purchase ID to determine number of purchases made
transactions = game_purchase_data['Item Name'].count()


#Divide revenue by transactions for average spent
average_spending = total_money_spent/transactions


Purchase_Analysis_df = pd.DataFrame({'Unique Items':[items_available_count], \
                                     'Total Revenue':[total_money_spent], \
                                     'Total Purchases Made':[transactions],\
                                    'Average Price': [average_spending]})
Purchase_Analysis_df
Purchase_Analysis_df=Purchase_Analysis_df.set_index("Unique Items")
Purchase_Analysis_df["Total Revenue"]=Purchase_Analysis_df["Total Revenue"].map('${:.2f}'.format)
Purchase_Analysis_df["Average Price"]=Purchase_Analysis_df["Average Price"].map('${:.2f}'.format)
Purchase_Analysis_df

             Total Revenue  Total Purchases Made Average Price
Unique Items
179               $2379.77                   780         $3.05

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [151]:
#Confirm possible values for gender
#genders_represented = all_players= game_purchase_data['Gender'].unique()
#print(genders_represented)
#gender_data=all_players["Gender"].value_counts()
#gender_data()

#Need to use only unique player names to ensure that we are not double counting players who have made multilple purchases.
#Drop all duplicate screen names to ensure accurate data about unique players for each gender. 
only_unique_for_gender_df=game_purchase_data
only_unique_for_gender_df.sort_values("SN", inplace=True)
only_unique_for_gender_df.drop_duplicates(subset = "SN", keep = False, inplace = True)
#Get length
unique_players_count=len(only_unique_for_gender_df)

#Find counts to compare with later output
#only_unique_for_gender_df['Gender'].value_counts()

#Use a .loc to filter by gender
only_males=only_unique_for_gender_df.loc[only_unique_for_gender_df["Gender"]=="Male",:]
only_females=only_unique_for_gender_df.loc[only_unique_for_gender_df["Gender"]=="Female",:]
only_other=only_unique_for_gender_df.loc[only_unique_for_gender_df["Gender"]=="Other / Non-Disclosed",:]

#Count by using len to get number for each gender
male_count=len(only_males)
female_count=len(only_females)
other_count=len(only_other)

#Divide gender count by total players to get percentage
male_percent=male_count/unique_players_count
female_percent=female_count/unique_players_count
other_percent=other_count/unique_players_count

#Plop into a data frame as a dictionary with lists
gender_demographics_df=pd.DataFrame({"Gender":["Male","Female","Other / Non-Disclosed"],\
                                     "Number of Players":[male_count, female_count, other_count],\
                                     "Percentage of Players":[male_percent, female_percent, other_percent]})
#Prettify 1: set index to gender
gender_demographics_df=gender_demographics_df.set_index("Gender")
#Prettify 2: change display to percentage
gender_demographics_df["Percentage of Players"]=gender_demographics_df["Percentage of Players"].map("{:.2%}".format)
gender_demographics_df

                       Number of Players Percentage of Players
Gender
Male                                 352                85.02%
Female                                55                13.29%
Other / Non-Disclosed                  7                 1.69%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [167]:
#Return to original DF, as we must now account for multiple purchases. Pull out males, females, and other/non-disclosed.
all_males_df=game_purchase_data.loc[game_purchase_data["Gender"]=="Male",:]
all_females_df=game_purchase_data.loc[game_purchase_data["Gender"]=="Female",:]
all_other_df=game_purchase_data.loc[game_purchase_data["Gender"]=="Other / Non-Disclosed",:]

#Use the new gender-exclusive dfs to find purchase counts, average purchase price
#First, count total number of purchases made by each gender
male_purchase_count=len(all_males_df)
female_purchase_count=len(all_females_df)
other_purchase_count=len(all_other_df)

#Next, find total amount spent
male_total_spent=all_males_df["Price"].sum()
female_total_spent=all_females_df["Price"].sum()
other_total_spent=all_other_df["Price"].sum()

#Divide for average spending for each gender designation to determine average purchase total by gender
average_spent_male=male_total_spent/male_purchase_count
average_spent_female=female_total_spent/female_purchase_count
average_spent_other=other_total_spent/other_purchase_count

#Need to find average purchase price. Not sure how; original data doesn't seem to break down by item. 
#Need to figure out number of unique items purchased by each gender, then divide total by that number? I think? 

#Plop into a data frame using a dictionary. 
purchase_analysis_gender=pd.DataFrame({"Gender":["Male","Female","Other / Non-Disclosed"],\
                                       "Purchase Count":[male_purchase_count, female_purchase_count, other_purchase_count],\
                                       "Average Transaction Total":[average_spent_male, average_spent_female, average_spent_other]
                                      })


#Format summary data frame (Make Gender index; display Purchase Total as $ value)
purchase_analysis_gender=purchase_analysis_gender.set_index("Gender")
purchase_analysis_gender["Average Transaction Total"]=purchase_analysis_gender["Average Transaction Total"].map("${:.2f}".format)
purchase_analysis_gender

                       Purchase Count Average Transaction Total
Gender
Male                              352                     $3.02
Female                             55                     $3.21
Other / Non-Disclosed               7                     $3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [179]:
#Return to unique players df (all_players) for data to ensure that results are not skewed by multiple purchases by same user
only_unique_for_gender_df

#Create bins and assign names
age_bins = [0,10,15, 20, 25, 30, 35, 40, 100]
named_bins = ["<10", "10-14", "14-19", "20-24", "25-29", "30-34", "35-39", "40+"]
only_unique_for_gender_df["Total Count"]=pd.cut(only_unique_for_gender_df["Age"], age_bins, labels=named_bins)
only_unique_for_gender_df.head()

,SN,Age,Gender,Item ID,Item Name,Price,Total Count
Purchase ID,,,,,,,
467,Adairialis76,16,Male,123,Twilight's Carver,2.28,14-19
142,Adastirin33,35,Female,175,Woeful Adamantite Claymore,4.48,30-34
388,Aeda94,17,Male,128,"Blazeguard, Reach of Eternity",4.91,14-19
28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,20-24
630,Aelaria33,23,Male,171,Scalpel,1.79,20-24

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80