In [23]:
import pandas as pd

In [24]:
# Set file paths. 
summaries_file = 'DisasterSummaries.csv'
declarations_file = 'DisasterDeclarations.csv'

# Read CSVs
disaster_summaries_df = pd.read_csv(summaries_file)
disaster_declarations_df = pd.read_csv(declarations_file)

In [25]:
disaster_summaries_df["totalFEMAapproved"] = disaster_summaries_df["totalNumberIaApproved"] + disaster_summaries_df["totalAmountIhpApproved"]

In [26]:
disaster_declarations_df = disaster_declarations_df.loc[disaster_declarations_df["incidentType"]=="Tornado", :]

In [27]:
combined_data = pd.merge(
disaster_summaries_df[['disasterNumber', 'totalNumberIaApproved', 'totalAmountIhpApproved', 'totalFEMAapproved']],
disaster_declarations_df[['disasterNumber', 'declarationDate', 'disasterName', 'stateCode']],
on ='disasterNumber',
how='outer')

In [28]:
combined_data

,disasterNumber,totalNumberIaApproved,totalAmountIhpApproved,totalFEMAapproved,declarationDate,disasterName,stateCode
0,1258,NaN,NaN,NaN,NaN,NaN,NaN
1,1268,NaN,NaN,NaN,NaN,NaN,NaN
2,1241,NaN,NaN,NaN,NaN,NaN,NaN
3,1265,NaN,NaN,NaN,NaN,NaN,NaN
4,1247,NaN,NaN,NaN,NaN,NaN,NaN
5,1272,NaN,NaN,NaN,1999-05-04T00:00:00.000Z,"OK, TORNADOES 5/3/99",OK
6,1243,NaN,NaN,NaN,NaN,NaN,NaN
7,1239,NaN,NaN,NaN,NaN,NaN,NaN
8,1278,NaN,NaN,NaN,NaN,NaN,NaN
9,1250,NaN,NaN,NaN,NaN,NaN,NaN
10,1275,NaN,NaN,NaN,NaN,NaN,NaN
11,1257,NaN,NaN,NaN,NaN,NaN,NaN
12,1285,NaN,NaN,NaN,1999-08-16T00:00:00.000Z,"TORNADO, SEVERE THUNDERSTORMS, AND HAIL",UT
13,1310,NaN,NaN,NaN,2000-01-10T00:00:00.000Z,"TORNADOES, SEVERE STORMS, TORRENTIAL RAINS, AN...",KY
14,1335,NaN,NaN,NaN,NaN,NaN,NaN
15,1282,NaN,NaN,NaN,NaN,NaN,NaN
16,1256,NaN,NaN,NaN,NaN,NaN,NaN
17,1263,NaN,NaN,NaN,NaN,NaN,NaN
18,1273,NaN,NaN,NaN,1999-05-04T00:00:00.000Z,SEVERE STORMS AND TORNADOES,KS
19,1245,NaN,NaN,NaN,NaN,NaN,NaN
20,1270,NaN,NaN,NaN,NaN,NaN,NaN
21,1252,NaN,NaN,NaN,NaN,NaN,NaN
22,1277,NaN,NaN,NaN,NaN,NaN,NaN
23,1305,NaN,NaN,NaN,NaN,NaN,NaN
24,1248,NaN,NaN,NaN,NaN,NaN,NaN
25,1244,NaN,NaN,NaN,NaN,NaN,NaN
26,1283,NaN,NaN,NaN,NaN,NaN,NaN
27,1255,NaN,NaN,NaN,NaN,NaN,NaN
28,1280,NaN,NaN,NaN,1999-06-09T00:00:00.000Z,"SEVERE STORMS, TORNADOES AND FLOODING",SD
29,1262,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
3018,200,NaN,NaN,NaN,1965-06-19T00:00:00.000Z,"TORNADOES, SEVERE STORMS & FLOODING",CO
3019,190,NaN,NaN,NaN,1965-04-14T00:00:00.000Z,TORNADOES & SEVERE STORMS,MI
3020,85,NaN,NaN,NaN,1958-06-06T00:00:00.000Z,"TORNADOES, RAIN, HAIL & FLOODS",TX
3021,102,NaN,NaN,NaN,1960-05-28T00:00:00.000Z,TORNADOES & FLOODS,AR
3022,79,NaN,NaN,NaN,1957-06-22T00:00:00.000Z,TORNADO,ND
3023,75,NaN,NaN,NaN,1957-05-22T00:00:00.000Z,TORNADOES & FLOODS,MO
3024,77,NaN,NaN,NaN,1957-05-29T00:00:00.000Z,"TORNADOES, RAIN, HAIL & FLOODS",AR
3025,53,NaN,NaN,NaN,1956-04-05T00:00:00.000Z,TORNADO,MI
3026,1,NaN,NaN,NaN,1953-05-02T00:00:00.000Z,TORNADO,GA
3027,34,NaN,NaN,NaN,1955-05-27T00:00:00.000Z,TORNADO,KS
3028,7,NaN,NaN,NaN,1953-06-11T00:00:00.000Z,TORNADO,MA
3029,6,NaN,NaN,NaN,1953-06-09T00:00:00.000Z,TORNADO,MI
3030,14,NaN,NaN,NaN,1953-12-06T00:00:00.000Z,TORNADO,MS
3031,54,NaN,NaN,NaN,1956-04-07T00:00:00.000Z,TORNADOES,OK
3032,2,NaN,NaN,NaN,1953-05-15T00:00:00.000Z,TORNADO & HEAVY RAINFALL,TX
3033,16,NaN,NaN,NaN,1954-03-17T00:00:00.000Z,TORNADO,GA
3034,4,NaN,NaN,NaN,1953-06-02T00:00:00.000Z,TORNADO,MI
3035,987,NaN,NaN,NaN,1993-04-26T00:00:00.000Z,SEVERE STORMS & TORNADOES,OK
3036,980,NaN,NaN,NaN,1993-03-04T00:00:00.000Z,"TORNADOES, HIGH WINDS & HEAVY RAINS",GA
3037,982,NaN,NaN,NaN,1993-03-13T00:00:00.000Z,"TORNADOES, FLOODING, HIGH WINDS & TIDES, FREEZING",FL
3038,970,NaN,NaN,NaN,1992-12-04T00:00:00.000Z,SEVERE THUNDERSTORMS & TORNADOES,TX
3039,968,NaN,NaN,NaN,1992-11-25T00:00:00.000Z,"SEVERE STORMS, HIGH WINDS & TORNADOES",MS
3040,967,NaN,NaN,NaN,1992-10-17T00:00:00.000Z,"WIND STORMS, TORNADOES & HAIL",MS
3041,959,NaN,NaN,NaN,1992-09-02T00:00:00.000Z,SEVERE STORMS & TORNADOES,WI
3042,963,NaN,NaN,NaN,1992-09-18T00:00:00.000Z,SEVERE STORMS & TORNADOES,WI
3043,969,NaN,NaN,NaN,1992-12-01T00:00:00.000Z,"HIGH WINDS, HEAVY RAINS & TORNADOES",GA
3044,939,NaN,NaN,NaN,1992-03-20T00:00:00.000Z,SEVERE STORMS & TORNADOES,MS
3045,949,NaN,NaN,NaN,1992-07-02T00:00:00.000Z,SEVERE STORMS & TORNADOES,TX
3046,903,NaN,NaN,NaN,1991-04-29T00:00:00.000Z,SEVERE STORMS & TORNADOES,KS
3047,905,NaN,NaN,NaN,1991-05-08T00:00:00.000Z,SEVERE STORMS & TORNADOES,OK

In [29]:
combined_data.to_csv('tornado_data.csv')